{% extends "main.html" %}
{% block contents %}

<div class="contents">
    <div class = 'item'>
        <h3> {{selectedName}}  </h3>
             <p> Description:   {{items.description}} </p>
             <p> Video:   <a href="{{items.video}}">Location</a> </p>
            <!-- <img src=" {{url_for('send_image', filename=image_name)}}" height="80px" class="img-rounded">-->
            <div>
             <p> Welcome to {{selectedName}} <br><img src="{{items.photo_image}}" alt="picture" height="120px"></p></div>

 {% if session["username"] != null  %}

        <div class = "adjustItem">
            <a href="{{url_for('editCategory', item_title = items.title)}}">Edit</a> 
           |<a href="{{url_for('deleteCategory', item_title = items.title)}}">Delete</a>
        </div>

{% endif %}

     </div>
</div>


{% endblock %}
